<<<<<<< HEAD
=======
<<<<<<< HEAD
textarea {
    resize: none;
  }
  
  .past-hour {
    background-color: rgb(145, 47, 47);
    border-color: red;
  }
  
  .present-hour {
    background-color: blue;
    border-color: grey;
  }
  
  .future-hour {
    background-color: rgb(117, 13, 27);
    border-color: rgb(103, 57, 212);
  }
  
  button {
    background-color: darkturquoise;
    border-radius: 0px 7px 5px 2px;
  }
  
  header {
    border-bottom-width: 20px;
    text-color: blue;
  }
  
  button {
    font-size: 3em;
=======
textarea {
    resize: none;
  }
  
>>>>>>> f1ea7f1a5b9598e2ec6fdefeb6ea1c819e166333
  .past-hour {
    background-color: rgb(145, 47, 47);
    border-color: red;
  }
  
  .present-hour {
    background-color: blue;
    border-color: grey;
  }
  
  .future-hour {
    background-color: rgb(117, 13, 27);
    border-color: rgb(103, 57, 212);
  }
  
<<<<<<< HEAD
  .button {
    background-color: rgb(25, 29, 29);
    border-radius: 0px 7px 5px 2px;
  }
  
  .header {
=======
  button {
    background-color: darkturquoise;
    border-radius: 0px 7px 5px 2px;
  }
  
  header {
>>>>>>> f1ea7f1a5b9598e2ec6fdefeb6ea1c819e166333
    border-bottom-width: 20px;
    text-color: blue;
  }
  
<<<<<<< HEAD
  .button {
    font-size: 3em;
=======
  button {
    font-size: 3em;
>>>>>>> 5ef16f07c7c072692e7efa96fc342b2ee52f22c3
>>>>>>> f1ea7f1a5b9598e2ec6fdefeb6ea1c819e166333
  }