textarea {
    resize: none;
  }
  
  .past-hour {
    background-color: rgb(145, 47, 47);
    border-color: red;
  }
  
  .present-hour {
    background-color: blue;
    border-color: grey;
  }
  
  .future-hour {
    background-color: rgb(117, 13, 27);
    border-color: rgb(103, 57, 212);
  }
  
  button {
    background-color: darkturquoise;
    border-radius: 0px 7px 5px 2px;
  }
  
  header {
    border-bottom-width: 20px;
    text-color: blue;
  }
  
  button {
    font-size: 3em;
  }